.App {
  width: 375px;
  height: 667px;

  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  background-color: #d9d9d9;

  overflow: hidden;

  display: flex;
  flex-direction: column;

  margin: 20px auto; 
}

.App.AddAddrPage{
  background-color: white;
}

.Header {
  height: 8%;
  width: 100%;

  border-radius: 10px;

  background-color: #fff;

  padding: 2px;

}

.Header.home{
  display: inline-flex;
  align-items: center;
}

.Header.searchpage{
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-family: RobotoCondensed;

}

.Header.AddAddrPage{
  display: inline-flex;

  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-family: RobotoCondensed;

  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);

}

.Header.SavedAddrPage {
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.Header.enable-location-page {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: RobotoCondensed;
  font-weight: bold;
  font-size: 20px;

}

.Address-Display {
  display: inline-block;
  flex-direction: column;

  margin-left: 10px;

  width: 310px;

  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.Address-Display:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.Address-Type {
  color: #E30B5D; /* Highlight color for Address Type */
  font-weight: bold;
  
}

.Address-Text {
  color: #333; /* Neutral color for the address */ 
  opacity: 80%
}

.Location-permission-wrapper {
  background-color: #fff;

  height: 50%;

  border-radius: 15px;

  display: flex;
  flex-direction:column;

  align-items: center;
  
  margin-top: auto;
}

.Location-perm-icon {
  height: 90px;
  
  margin-top: 10px;
}

.Location-permission-text {
  font-family: RobotoCondensed;
}

.Location-permission-text.text1{
  font-weight: bold;
  font-size: 18px;

  margin-bottom: 2px;
}

.Location-permission-text.text2{
  font-size: 13px;
  text-align: center;
  opacity: 80%;
}

.Enable-location-btn {
  width: 95%;
  height: 8%;

  border-radius: 5px;
  
  color: white;
  font-family: RobotoCondensed;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #E30B5D;
}

.Enable-location-btn:hover{
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.Search-location-btn {
  width: 95%;
  height: 8%;

  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
  border-radius: 5px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.Search-location-btn:hover{
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.Search-location-text {
  font-family: RobotoCondensed;
  margin-left: 5px;
  color: #E30B5D;
}

.Search-bar-wrapper {
  width: 95%;
  height: 35px;
  margin-top: 25px;

  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
  border-radius: 5px;

  background-color: white;

  display: flex;
  justify-self: center;
  align-self: center;

  align-items: center;

  padding: 0 0 0 9px;

}

.Search-bar-wrapper:hover{
  cursor: Text;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.Search-addr-input{
  width: 90%;
  height: 30px;

  display: flex;
  justify-self: center;
  align-self: center;

  margin-top: 30px;

  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);

  padding: 0 0 0 8px;
}

.Search-suggestions {
  background-color: black;
}

.Enable-Location-Wrapper {
  display: inline-flex;

  margin-top: 20px;

}

.Enable-current-location {
  display: inline-flex;
  font-size: 23px;
  font-family: RobotoCondensed;
  font-weight: bold;
}

.Enable-current-location-btn {
  margin-left: auto;
  margin-right: 10px;
  
  border-radius: 6px;
  border: 1px solid #E30B5D;
  background-color: white;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;

  font-family: RobotoCondensed;
  color: #E30B5D;
  
}

.Enable-current-location-btn:hover {
  background-color: #E30B5D;
  color: white;
  transition: background-color 0.3s color 0.3s;
}

.Enable-Current-Location-txt {
  width: 60%;

  margin-left: 50px;
  margin-top: 5px;

  font-size: 15px;
  font-family: RobotoCondensed;

  opacity: 80%;

}

.Confirm-addr {
  width: 100%;
  height: 30%;

  background-color: white;

  display: flex;
  flex-direction: column;

  margin-top: auto;

  border-radius: 5px;

  padding: 0 8px 0 8px;

  font-family: RobotoCondensed;
}

.View-location-text-wrapper {
  font-family: RobotoCondensed;
  font-size: 15px;

  padding: 0 8px 0 8px;
  
}

.View-location-text {
  font-size: 18px;
  font-weight: bold;
  color: #E30B5D;
}

.Confirm-location-btn {
  width: 95%;
  height: 35px;

  border-radius: 5px;

  background-color: #E30B5D;

  color: #fff;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: auto;

  margin-bottom: 30px;
}

.Confirm-location-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.Address-Section {
  margin: 20px;
}

.Location-Label {
  font-weight: bold;
  margin-bottom: 5px;
}

.Location-Address {
  font-style: italic;
  color: #555;
}

.Address-Details-Form {
  margin: 20px;
}

.Form-Label {
  display: block;
  margin-bottom: 10px;
}

.Input-Field {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;

  display: flex;
  justify-self: center;
  align-self: center;
}

.Address-Type-Icons {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.Icon-Wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.Icon-Wrapper:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.Icon-Wrapper.selected {
  border-color: #E30B5D;
  background-color: rgba(227, 11, 93, 0.1);
}

.Icon-Wrapper p {
  margin-top: 5px;
  font-size: 14px;
}

.Save-Addr-Text {
  font-family: RobotoCondensed;
  color: #E30B5D;
  font-weight: bold;
  padding: 0 0 0 10px;
}

.Submit-Button {
  width: 95%;
  height: 35px;

  margin-top: auto;
  margin-bottom: 30px;
  text-align: center;

  background-color: #E30B5D;
  
  color: white;
  font-size: 18px;
  font-weight: bold;
  
  border-radius: 8px;
  
  cursor: pointer;

  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;

}

.Address-List {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

.Address-Item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Address-Item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.Address-Header {
  font-size: 18px;
  font-weight: bold;
  color: #E30B5D;
  margin-bottom: 5px;
}

.Address-Details {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.No-Addresses {
  font-size: 16px;
  color: #777;
  text-align: center;
  margin-top: 20px;
}

.Back-Button {
  background-color: #E30B5D;
  color: #fff;

  font-size: 16px;
  font-weight: bold;

  padding: 10px 20px;
  border-radius: 6px;

  cursor: pointer;

  margin-top: auto;
  margin-bottom: 15px;
  align-self: center;

  transition: background-color 0.2s ease;
}

.New-Address-btn {
  width: 60%;
  height: 30px;

  background-color: #E30B5D;

  align-self: center;

  border-radius: 6px;

  cursor: pointer;

  font-family: RobotoCondensed;
  color: #fff;
  font-size: 17px;
}

.New-Address-btn:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

@font-face {
  font-family: RobotoCondensed;
  src: url('../public/RobotoCondensed-Regular.ttf');
}
